*{
    /* text-align: center; */
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


#canvas {
    padding: 20px;
    width: 90%;
}
#gold {
    display: inline-block;
    width: 100px;
    border: 2px solid black;
    text-align: left;
    margin: 20px 10px;
    padding: 2px 7px;
}



#main_box{
    width: 100%;
    display: inline-block;
}

.box>p, .box>h3 {
    margin-bottom: 20px;
    margin-top: 0px;
}

form{
    margin-top: 10px;
}

.box {
    text-align: center;
    display: inline-block;
    border: 3px solid black;
    width: 22%;
    margin: 0% 1%;
    padding: 30px 0px;
}

p{
    display: inline-block;
    margin: 30px 5px 10px;
}

#activities{
    width: 98%;
    border: 3px solid black;
    height: 100px;
    padding: 5px 10px;
    overflow-y: scroll;
}

button{
    margin-top: 50px;
}

.hist{
    display: block;
    color: black;
    margin: 5px 10px;
}